localhost:8082 {
  header {
    Access-Control-Allow-Origin "http://localhost:3000"
    Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, PATCH, DELETE"
    Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    Access-Control-Allow-Credentials "true"
    Access-Control-Max-Age "3600"
  }

  @preflight method OPTIONS
  respond @preflight 204

  reverse_proxy backend:8080
}